<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.chandigarhtourguideapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MonumentsActivity"
            android:label="Monuments" />
        <activity
            android:name=".PlaygroundActivity"
            android:label="Gardens" />
        <activity
            android:name=".MarketActivity"
            android:label="Markets" />
        <activity
            android:name=".RestaurantsActivity"
            android:label="Restaurants"></activity>
    </application>

</manifest>